body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #9c948b;
}

#to-do-form {
  background-color: transparent;
  padding: 50px;
  width: vw;
  margin: 0 auto;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #454545;
  border-top: 1px solid transparent;
  padding: 10px;
  color: white;
}

.jumbotron {
  text-align: center;
  background-color: #454545;
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 10px solid #2d545e;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  background-color: #454545;
  border: 1px ridge #454545;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid transparent;
}

.hour {
  background-color: transparent;
  color: white;
  position: relative;
  top: 29px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #5e2d3b;
  color: white;
}

.future {
  background-color: #3b5e2d;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top: 3px outset #454545;
  border-right: 3px outset #454545;
  border-bottom: 3px outset #454545;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2d545e;
  color: white;
}

.saveBtn:hover {
  background-color: #12343b;
  transition: all 0.3s ease-in-out;
}
